<%= form_for  @picture do |f| %>


    <% if @picture.errors.any? %>
        <div class="errors">
          Total errors: <%= @picture.errors.count %>
          <ul>
            <% @picture.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.label :img_picture %>
      <%= f.file_field :img_picture %>
    </div>
    <br>

    <div>
      <%= f.submit %>
    </div>
<% end %>
