<h1>Images#index</h1>
<div class="row">

  <div class="col-sm-1">
  </div>


  <div class="col-md-11">
    <div class="row">
      <% @pictures.each do |picture| %>

          <div class="col-sm-4 product-item">
            <div class="panel panel-default">
              <div class="panel-body">
                <%= link_to picture.title, picture_show_one_path(picture)%>
                <td> <%= image_tag picture.img_picture.url(:medium) %></td>
                <br/>

                <button class="btn btn-default">View</button>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>


