<%= link_to 'List of all pictures', root_path %> > <%= @picture.title %>
<br>


 <%= image_tag @picture.img_picture.url(:medium) %>

<p>
  <% if current_user == @picture.user %>
      <%= link_to 'Edit ', edit_pictures_path, class: 'btn btn-primary' %>
      <%= link_to 'Delete ', pictures_path(@picture), method: :delete, class: 'btn btn-danger' %>
  <% end %>
</p>